.moviesCardList {
  padding: 70px 0 10px;
  display: grid;
  grid-gap: 40px;
}

.moviesCardList__text {
  font-size: 40px;
  line-height: 40px;
}

.moviesCardList__button {
  width: 320px;
  height: 36px;
  background: #F9F9F9;
  border: transparent;
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  display: block;
  margin: 50px auto 0;
}
.moviesCardList__button:hover {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 1180px) {
  .moviesCardList {
    padding: 60px 0 30px;
  }
}

@media (max-width: 740px) {
  .moviesCardList {
    padding: 40px 0 20px;
    grid-gap: 20px;
  }

  .moviesCardList__button{
    width: 240px;
  }
}