.moviesCard {
  background-color: #F9F9F9;
  display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.moviesCard__content {
  padding: 22px;
  display: flex;
  flex-direction: column;
}

.moviesCard__title {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 0 0 13px;
}

.moviesCard__subtitle {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
  margin: 0 0 30px;
}

.moviesCard__like {
  width: 14px;
  height: 12px;
  outline: none;
  border: none;
  background-color: transparent;
  background-image: url(../../images/like.svg);
}
.moviesCard__like_active {
  background-image: url(../../images/like-active.svg);
}
.moviesCard__like_delete {
  background-image: url(../../images/like-delete.svg);
}
.moviesCard__like:hover {
  cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.2s linear;
}

.moviesCard__img {
  width: 220px;
  height: 122px;
  object-fit: cover;
  margin: 6px;
}

.moviesCard__link {
  text-decoration: none;
}
.moviesCard__link:hover {
  cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.2s linear;
}

@media (max-width: 740px) {
  .moviesCard {
    flex-direction: column-reverse;
  }

  .moviesCard__content {
    width: 272px;
    padding: 14px 16px 14px 12px;
    flex-direction: row;
    align-items: flex-start;
	  justify-content: space-between;
  }

  .moviesCard__title {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
  }

  .moviesCard__subtitle {
    margin-bottom: 0;
  }

  .moviesCard__img {
    width: 300px;
    margin: 0;
  }
}