.portfolio {
  padding: 0 0 125px;
}

.portfolio__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #A0A0A0;
  margin: 0 0 50px;
}

.portfolio__list {
  margin: 0;
  padding: 0;
}

.portfolio__item {
  display: flex;
	align-items: center;
	justify-content: space-between;
  margin: 20px 0 19px;
}
.portfolio__item:first-child {
  margin-top: 0;
}
.portfolio__item:last-child {
  margin-bottom: 0;
}

.portfolio__text {
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  margin: 0;
}

.portfolio__arrow {
  width: 16px;
}
.portfolio__arrow:hover {
  cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.2s linear;
}

@media (max-width: 1180px) {
  .portfolio {
    padding: 0 0 90px;
  }

  .portfolio__text {
    font-size: 28px;
  }

  .portfolio__arrow {
    width: 13px;
  }
}

@media (max-width: 740px) {
  .portfolio {
    padding: 0 0 70px;
  }

  .portfolio__title {
    font-size: 14px;
    margin: 0 0 40px;
  }

  .portfolio__text {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__arrow {
    width: 10px;
  }
}