.promo {
  padding: 75px 0;
}

.promo__flex {
  display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.promo__title {
  width: 640px;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
  margin: 0 0 36px;
}

.promo__subtitle {
  width: 310px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
  margin: 0;
}

.promo__img {
  width: 310px;
  height: 304px;
  margin-bottom: 84px;
}

.promo__link {
  width: 129px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  border-radius: 3px;
  background-color: transparent;
  outline: none;
  padding: 0;
}
.promo__link:hover {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
}

@media (max-width: 1180px) {
  .promo__flex {
    flex-direction: column-reverse;
    align-items: center;
  }

  .promo__img {
    margin: 65px 0 48px;
  }

  .promo__text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .promo__title {
    width: 680px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin: 0 0 22px;
  }

  .promo__subtitle {
    width: 260px;
    text-align: center;
    margin-bottom: 92px;
  }

  .promo__link {
    margin: 0 auto;
  }
}

@media (max-width: 740px) {
  .promo {
    padding: 70px 0 30px;
  }

  .promo__img {
    width: 210px;
    height: 206px;
    margin: 0 0 44px;
  }

  .promo__title {
    width: 307px;
    font-size: 30px;
    line-height: 38px;
    margin: 0 0 36px;
    margin: 0 0 24px;
  }

  .promo__subtitle {
    margin-bottom: 80px;
  }
}